.DS_Store

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Node
node_modules/
dist/
build/

# Local environment
.env
.env.*

# Large or generated data
data/raw/**/*
data/interim/**/*
data/processed/**/*
!data/raw/.gitkeep
!data/raw/README.md
!data/raw/copernicus/
!data/interim/.gitkeep
!data/interim/README.md
!data/processed/.gitkeep
!data/processed/README.md
!data/raw/arso/.gitkeep
!data/raw/copernicus/.gitkeep
!data/raw/copernicus/README.md
!data/raw/copernicus/era5land_slovenia/
!data/raw/copernicus/era5land_slovenia/README.md
!data/raw/gurs/
!data/raw/gurs/README.md
!data/raw/nijz/.gitkeep
!data/raw/surs/.gitkeep
!data/raw/zgs/.gitkeep
!data/interim/cleaned/.gitkeep
!data/interim/features/
!data/interim/features/.gitkeep
!data/interim/features/copernicus/
!data/interim/features/copernicus/era5land_slovenia/
!data/interim/features/copernicus/era5land_slovenia/README.md
!data/interim/merged/.gitkeep
!data/processed/inference/.gitkeep
!data/processed/risk-maps/.gitkeep
!data/processed/training/.gitkeep
!data/processed/validation/.gitkeep
